<section>
        <img src="img/logo.png" alt="fondo" class="mosque">
        
        <div class="content">
            <div class="texBox">
                <h2>No vuelvas a perder un solo link</h2>
                <p>
                    FavLinks te permite almacenar todos los enlaces que quieras.<br>Gratis.
                </p>
                <a href="/signin">Comencemos</a>
            </div>
        </div>
        <ul class="sci">
            <li><a href="https://github.com/genteseria/favlinks" style="--i:12;"><h3><i class="fab fa-github"></i></h2></a></li>
            <li><a href="https://twitter.com" style="--i:13;"><h3><i class="fab fa-twitter"></i></h3></a></li>
            <li><a href="https://discord.com" style="--i:14;"><h3><i class="fab fa-discord"></i></h3></a></li>
        </ul>
</section>
<script src="js/index.js"></script>