<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center" style="margin-top: 20vh;">
                <div class="card-body">
                    <h3>Hola, {{user.nombrecompleto}}</h3>
                    <h4>@{{user.username}}</h4>
                    <br><a href="/links" class="btn btn-primary">Mis links</a>
                </div>
            </div>
        </div>
    </div>
</div>