<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <title>FavLinks</title>
</head>

<body>

    {{> navigation }}

    {{#if exito}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{exito}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if mensaje}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{mensaje}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}


    {{{ body }}}

</body>

</html>