<link rel="stylesheet" href="/css/styles.css">

<section>
    <div class="container">
        <div class="user signinBx">
            <div class="imgBx">
                <img src="img/login_xd.jpg" alt="imagen de login">
            </div>
            <div class="formBx">
                <form action="/signin" method="POST">
                    <h2>Iniciar sesión</h2>
                    <input type="text" name="username" placeholder="Nombre de usuario o email" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <input type="submit" value="Ingresar">
                    <p class="signup">¿Aún no tienes una cuenta?
                        <a href="/signup">Crea una.</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>