<link rel="stylesheet" href="/css/styles.css">

<section>
    <div class="container">
        <div class="user signinBx">
            <div class="formBx">
                <form action="/signup" method="POST">
          <h2>Crear una cuenta en FavLinks</h2>
          <input type="text" name="nombrecompleto" placeholder="Nombre completo" autofocus required />
          <input type="text" name="username" placeholder="Usuario" required />
          <input type="email" name="email" placeholder="Correo electrónico" required />
          <input type="password" name="password" placeholder="Contraseña" required />
          <input type="submit" value="Registrarse" />
          <p class="signup">¿Ya tienes una cuenta?
            <a href="/signin">Inicia sesión.</a>
          </p>
        </form>
      </div>
      <div class="imgBx">
        <img src="img/signup.jpg" alt="imagen de login" />
      </div>
            </div>
        </div>
    </div>
</section>